@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.light-theme {
    --text-color: #131313;
    --card-bg: #ebebeb;
    --body-bg: #FFF;
}

.dark-theme {
    --text-color: #ddd;
    --card-bg: #171a1f;
    --body-bg: #262932;
}